In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from tqdm.notebook import tqdm_notebook
import os, time,json
import tmdbsimple as tmdb

In [2]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'Part 4 years',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz',
 'tmdb_results_combined_years.csv.gz']

# Functions

In [3]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [4]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmbdsimple"""
    #Get the movie object for the current ID
    movie = tmdb.Movies(movie_id)
    
    #Saving the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    #Looping through countries in releases
    for c in releases["countries"]:
        #if the country abbreviation == US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    return info

# SQLAlchemy

In [5]:
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()
username = "root"
password = "root"
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
    
    
if database_exists(connection):
    print("already exist")
    
else: create_database(connection)

already exist

In [6]:
engine = create_engine(connection)

# Tmdb Api Call

In [7]:
with open('/Users/caill/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [8]:
tmdb.API_KEY =  login['api-key']

In [9]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('data/title_basics.csv.gz')

In [10]:
basics = basics.drop(columns = ["endYear"])

In [11]:
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81624 entries, 0 to 81623
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81624 non-null  object
 1   titleType       81624 non-null  object
 2   primaryTitle    81624 non-null  object
 3   originalTitle   81624 non-null  object
 4   isAdult         81624 non-null  int64
 5   startYear       81624 non-null  float64
 6   runtimeMinutes  81624 non-null  int64
 7   genres          81624 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 5.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,126,Drama

In [12]:
#Last 10 years
YEARS_TO_GET = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

In [13]:
errors = [ ]

In [14]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
            
        #Saving new year as the current df
        df = basics.loc[basics['startYear']==YEAR].copy()
            
        # saving movie ids to list
        movie_ids = df['tconst'].copy()
            
        # Load existing data from json into a dataframe called "previous_df"
        previous_df = pd.read_json(JSON_FILE)
            
        # filter out any ids that are already in the JSON_FILE
        movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
            

        #Get index and movie id from list
        # INNER Loop
        for movie_id in tqdm_notebook(movie_ids_to_get,
                                          desc=f'Movies from {YEAR}',
                                          position=1,
                                          leave=True):
            try:
                # Retrieve then data for the movie id
                temp = get_movie_with_rating(movie_id)  
                # Append/extend results to existing file using a pre-made function
                write_json(temp,JSON_FILE)
                # Short 20 ms sleep to prevent overwhelming server
                time.sleep(0.02)

            except Exception as e:
                errors.append([movie_id, e])



        final_year_df = pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/11 [00:00<?, ?it/s]

In [15]:
import glob
q = "Data/Part 4 years/final_tmdb_data_*.csv.gz"
chunked_files = sorted(glob.glob(q))
# Showing the files
chunked_files

['Data/Part 4 years\\final_tmdb_data_2012.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2013.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2014.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2015.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2016.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2017.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2018.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2019.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2020.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2021.csv.gz',
 'Data/Part 4 years\\final_tmdb_data_2022.csv.gz']

In [16]:
## Loading all files as df and appending to a list
df_list = []
for file in chunked_files:
    temp_df = pd.read_csv(file, index_col=0)
    df_list.append(temp_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined.info()
df_combined

<class 'pandas.core.frame.DataFrame'>
Index: 24095 entries, 0 to 0
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  24084 non-null  float64
 1   backdrop_path          15592 non-null  object
 2   belongs_to_collection  1603 non-null   object
 3   budget                 24084 non-null  float64
 4   genres                 24084 non-null  object
 5   homepage               6390 non-null   object
 6   id                     24084 non-null  float64
 7   original_language      24084 non-null  object
 8   original_title         24084 non-null  object
 9   overview               23583 non-null  object
 10  popularity             24084 non-null  float64
 11  poster_path            22194 non-null  object
 12  production_companies   24084 non-null  object
 13  production_countries   24084 non-null  object
 14  release_date           23703 non-null  object
 15  revenue                24084 non-null  float64
 16  runtime                24084 non-null  float64
 17  spoken_languages       24084 non-null  object
 18  status                 24084 non-null  object
 19  tagline                9002 non-null   object
 20  title                  24084 non-null  object
 21  video                  24084 non-null  float64
 22  vote_average           24084 non-null  float64
 23  vote_count             24084 non-null  float64
 24  certification          5543 non-null   object
dtypes: float64(9), object(16)
memory usage: 4.8+ MB

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
imdb_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0249516,0.0,/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.thresholdanimationstudios.com/video...,116977.0,en,Foodfight!,The evil Brand X joins a supermarket that beco...,...,73706.0,91.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Foodfight!,0.0,1.9,110.0,PG
tt0285252,0.0,/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,112074.0,en,Life's a Beach,Darren gets stood up on the day of his wedding...,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Life's a Beach,0.0,2.4,6.0,R
tt0293069,0.0,/cj2isIuskSePAwpb2D6yUBZrhkJ.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,136884.0,en,Dark Blood,Filmed in 1993 but never completed due to Rive...,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Dark Blood,0.0,6.0,18.0,NaN
tt0337692,0.0,/jbcjTR19jatK9Jh4yfpNUXwPGh6.jpg,NaN,25000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.ontheroad-themovie.com/?lang=en,83770.0,en,On the Road,Dean and Sal are the portrait of the Beat Gene...,...,8784318.0,137.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The best teacher is experience.,On the Road,0.0,5.6,772.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt7844060,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,917606.0,en,Lady in White,When a new employee from a well-off family beg...,...,0.0,98.0,[],Released,NaN,Lady in White,0.0,0.0,0.0,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_combined.to_csv("Data/tmdb_results_combined_years.csv.gz",compression='gzip',index= 1)

In [18]:
tmdb = pd.read_csv("Data/tmdb_results_combined_years.csv.gz")
tmdb.info()
tmdb.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24095 entries, 0 to 24094
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                24095 non-null  object
 1   adult                  24084 non-null  float64
 2   backdrop_path          15592 non-null  object
 3   belongs_to_collection  1603 non-null   object
 4   budget                 24084 non-null  float64
 5   genres                 24084 non-null  object
 6   homepage               6390 non-null   object
 7   id                     24084 non-null  float64
 8   original_language      24084 non-null  object
 9   original_title         24084 non-null  object
 10  overview               23583 non-null  object
 11  popularity             24084 non-null  float64
 12  poster_path            22194 non-null  object
 13  production_companies   24084 non-null  object
 14  production_countries   24084 non-null  object
 15  release_date           23703 non-null  object
 16  revenue                24084 non-null  float64
 17  runtime                24084 non-null  float64
 18  spoken_languages       24084 non-null  object
 19  status                 24084 non-null  object
 20  tagline                9002 non-null   object
 21  title                  24084 non-null  object
 22  video                  24084 non-null  float64
 23  vote_average           24084 non-null  float64
 24  vote_count             24084 non-null  float64
 25  certification          5543 non-null   object
dtypes: float64(9), object(17)
memory usage: 4.8+ MB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0249516,0.0,/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.thresholdanimationstudios.com/video...,116977.0,en,Foodfight!,...,73706.0,91.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Foodfight!,0.0,1.9,110.0,PG
2,tt0285252,0.0,/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,112074.0,en,Life's a Beach,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Life's a Beach,0.0,2.4,6.0,R
3,tt0293069,0.0,/cj2isIuskSePAwpb2D6yUBZrhkJ.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,136884.0,en,Dark Blood,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Dark Blood,0.0,6.0,18.0,NaN
4,tt0337692,0.0,/jbcjTR19jatK9Jh4yfpNUXwPGh6.jpg,NaN,25000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.ontheroad-themovie.com/?lang=en,83770.0,en,On the Road,...,8784318.0,137.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The best teacher is experience.,On the Road,0.0,5.6,772.0,R

In [19]:
tmdb_data = tmdb.drop(columns = ["adult", "backdrop_path", "belongs_to_collection", "genres", "homepage", "id",
                                     "original_language", "original_title", "overview", "popularity", "poster_path", 
                                     "production_companies", "production_countries", "release_date", "runtime", 
                                     "spoken_languages", "status", "tagline", "title", "video", "vote_average", 
                                     "vote_count"])

In [20]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24095 entries, 0 to 24094
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        24095 non-null  object
 1   budget         24084 non-null  float64
 2   revenue        24084 non-null  float64
 3   certification  5543 non-null   object
dtypes: float64(2), object(2)
memory usage: 753.1+ KB

In [21]:
tmdb_data["imdb_id"].duplicated().value_counts()

False    24085
True        10
Name: imdb_id, dtype: int64

In [22]:
tmdb_data["imdb_id"] = tmdb_data["imdb_id"].drop_duplicates()
tmdb_data["imdb_id"].duplicated().value_counts()

False    24086
True         9
Name: imdb_id, dtype: int64

In [23]:
tmdb_data["imdb_id"].isna().value_counts()

False    24085
True        10
Name: imdb_id, dtype: int64

In [24]:
tmdb_data["imdb_id"] = tmdb_data["imdb_id"].fillna('')
tmdb_data["imdb_id"].isna().value_counts()

False    24095
Name: imdb_id, dtype: int64

In [25]:
tmdb_data.info()
tmdb_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24095 entries, 0 to 24094
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        24095 non-null  object
 1   budget         24084 non-null  float64
 2   revenue        24084 non-null  float64
 3   certification  5543 non-null   object
dtypes: float64(2), object(2)
memory usage: 753.1+ KB

     imdb_id      budget    revenue certification
0          0         NaN        NaN           NaN
1  tt0249516  65000000.0    73706.0            PG
2  tt0285252   4000000.0        0.0             R
3  tt0293069         0.0        0.0           NaN
4  tt0337692  25000000.0  8784318.0             R

In [34]:
## Calculate max string lengths for object columns
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
title_len = tmdb_data['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_tmdb_data = {
    "imdb_id": String(key_len+1),
    "revenue":Float(),
    "budget":Float(),
    "certification":Text(title_len+1)}

In [35]:
# Save to sql with dtype and index=False
tmdb_data.to_sql('tmdb_data',engine,dtype=df_tmdb_data, if_exists = "replace",index=False)
tmdb_data.keys()

Index(['imdb_id', 'budget', 'revenue', 'certification'], dtype='object')

In [36]:
a = """ALTER TABLE `movies`.`tmdb_data` 
CHANGE COLUMN `imdb_id` `imdb_id` VARCHAR(11) NOT NULL ,
ADD PRIMARY KEY (`imdb_id`);
"""
pd.read_sql(a,engine)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE `movies`.`tmdb_data`
CHANGE COLUMN `imdb_id` `imdb_id` VARCHAR(11) NOT NULL ,
ADD PRIMARY KEY (`imdb_id`);
]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
h = """SELECT t.imdb_id, t.revenue, t.budget, t.certification 
FROM tmdb_data as t
LIMIT 5"""
pd.read_sql(h,engine)

In [ ]:
q = """SHOW tables"""
pd.read_sql(q, engine)

# Hypothesis 1

- Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

    - Null Hypothesis: There is no significant difference in revenue between Horror and Comedy movies.

    - Alternate Hypothesis: There is a significant difference in revenue between Horror and Comedy movies.

    - Alpha: 0.05

## ANOVA Test

In [ ]:
#Visualizing revenue by certification
ax = sns.countplot(data=tmdb, x='certification',hue='revenue',)
ax.set_title("Number of Survivors by Sex");

In [ ]:
# calculate the contingency table with pd.cross-tab
table = pd.crosstab(df['certification'], df[''])
table

## Visualization

# Hypothesis 2

- Does Horror have a bigger budget than Comedy?

    - Null Hypothesis: There is no significant difference in budgets between Horror and Comedy movies.

    - Alternate Hypothesis: There is a significant difference in budgets between Horror and Comedy movies.

    - Alpha: 0.05

## 2 - Sample T-Test

## Visualization