# Project 3 Part 1

## Import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
akas_url = "data/title.akas.tsv.gz"
akas= pd.read_csv(akas_url, sep='\t', low_memory= False)

In [3]:
basics_url = "data/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
ratings_url = "data/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep = "\t", low_memory = False)

## Cleaning & Chunking

In [5]:
akas.isna().sum()

titleId              0
ordering             0
title                5
region             111
language             0
types                0
attributes           0
isOriginalTitle      0
dtype: int64

In [6]:
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            14
dtype: int64

In [7]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [8]:
akas.replace({'\\N':np.nan},inplace=True)
basics.replace({'\\N':np.nan},inplace=True)
ratings.replace({'\\N':np.nan},inplace=True)

In [9]:
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
35723976,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
35723977,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
35723978,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
35723979,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
35723980,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [10]:
akas[akas['region'].str.contains('US', case = False).fillna(False)]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
35723507,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
35723577,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
35723666,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
35723709,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
35723725,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [11]:
temp = basics['tconst'].isin(akas['titleId'])
basics = basics[temp]

In [12]:
basics = basics.dropna(subset=['runtimeMinutes','genres','startYear'])

In [13]:
basics['startYear'] = basics['startYear'].astype(float)
## keep startYear 2000-2022
basics = basics[(basics['startYear']>=2000)&(basics['startYear']<2022)]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
33803,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
34617,tt0035235,short,Radio Dynamics,Radio Dynamics,0,2016.0,NaN,4,Short
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
39545,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
...,...,...,...,...,...,...,...,...,...
9803605,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,NaN,66,Drama
9803619,tt9916724,short,Hay Que Ser Paciente,Hay Que Ser Paciente,0,2015.0,NaN,3,"Documentary,Short"
9803632,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary
9803638,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,NaN,43,"Family,Game-Show,Reality-TV"
9803680,tt9916856,short,The Wind,The Wind,0,2015.0,NaN,27,Short

In [14]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [15]:
basics = basics[(basics['titleType'] == "Movie")]

In [16]:
temp2 = ratings['tconst'].isin(akas['titleId'])
ratings = ratings[temp2]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1965
1        tt0000002            5.8       263
2        tt0000003            6.5      1808
3        tt0000004            5.6       178
4        tt0000005            6.2      2607
...            ...            ...       ...
1305590  tt9916460            9.4        18
1305594  tt9916538            8.6         7
1305595  tt9916544            6.9        62
1305608  tt9916730            8.3        10
1305609  tt9916766            7.0        21

[976849 rows x 3 columns]

In [17]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz']

In [21]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [26]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = True)
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976849 entries, 0 to 976848
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         976849 non-null  object
 1   averageRating  976849 non-null  float64
 2   numVotes       976849 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.4+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

In [24]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = True)
akas.info()
akas.head()

C:\Users\caill\AppData\Local\Temp\ipykernel_14200\2037929037.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35723981 entries, 0 to 35723980
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 2.1+ GB

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0

In [25]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = True)
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976849 entries, 0 to 976848
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         976849 non-null  object
 1   averageRating  976849 non-null  float64
 2   numVotes       976849 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.4+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

# Cite

 - This data is from https://www.imdb.com/interfaces/ (IMBD)